h1 {
    color: brown;
    font-size: 3rem;
}
header {
    background-color: black;
}
.page-header {
    height: 50vh;
}
header > p {
    color: white;
}
.bold {
    font-weight: bold;
}

#coffee-box {
    background-color: brown;
}
#tea-box {
    background-color: #6f4e37;
}
#cold-drinks-box {
    background-color: chocolate;
}

.drinks-box {
    width: 33%;
}


a:hover {
    text-decoration: none;
    color: chocolate;
}
.reasons-box > h2 {
    font-size: xx-large;
}

footer {
    background-color: #6f4e37;
    padding: 1em;
    text-align: center;
}

footer > span {
    color: silver;
}
footer > a {
    color: beige;
    text-decoration: none;
    padding: 0 15px;
}
footer > p {
    color: silver;
}


/* ---form--- */
form {
    width: 700px;
    margin-top: 2rem;
}

button[type=submit] {
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: #5e361b;
    color: white;
    border: none;
    border-radius: 5px;
}

button[type=submit], input[type=reset] {
    cursor: pointer;
}

/* button[type=submit]:hover {
    opacity: 0.5;
} */

/*
.text-center {
    text-align: center;
}
.text-white {
    color: white;
}

.reasons-box {
    background-color: chocolate;
} */
